<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ROOT__/Application/Home/View/default/css/login.css" rel="stylesheet">
</head>
<body onload="connect();">
	<include file="./Application/Home/View/default/header_nav.html" />
	<p>Chat Page</p>
	<script src="__ROOT__/Application/Home/View/default/js/chat/swfobject.js"></script>
	<script src="__ROOT__/Application/Home/View/default/js/chat/web_socket.js"></script>
	<script src="__ROOT__/Application/Home/View/default/js/chat/chat.js"></script>
</body>
</html>
