<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<include file="./Application/Home/View/default/head_common.html"/>
</head>
<body onload="connect();">
	<include file="./Application/Home/View/default/header_nav.html" />
	<div class="container" style="width:960px;">
		<p>Chat Page</p>
	</div>
<script src="__ROOT__/Application/Home/View/default/js/chat/swfobject.js"></script>
<script src="__ROOT__/Application/Home/View/default/js/chat/web_socket.js"></script>
<script src="__ROOT__/Application/Home/View/default/js/chat/chat.js"></script>
<script src="__ROOT__/Application/Home/View/default/js/users/login_modal.js"></script>
</body>
</html>
