<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$title}</title>
<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__ROOT__/Application/Home/View/default/css/login.css" rel="stylesheet">
<script type="text/javascript">
     window.ThinkPHP = {
      "ROOT"   : "__ROOT__",
      "APP"    : "__APP__",
      "PUBLIC" : "__PUBLIC__",
      "DOMAIN" : "{:cg_domain()}",
      "CONTROLLER":"__CONTROLLER__"
    }
</script>
<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script src="__PUBLIC__/js/think.js"></script>
<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script> 
