<!DOCTYPE html>
<html lang="zh-cn">
	<head>
  		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<title>用户注册</title>
      	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/think.js"></script>

 	</head>
 	<body>
   		<p>abc</p>
	</body>
	<script type="text/javascript">
  $(function(){
    // console.log(ThinkPHP.test("Abc123"));
    console.log(ThinkPHP.parse_url("http://www.baidu.com:8080/path/to?abc=1&x=2/"));
  });

	</script>
</html>
